/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #12669e;
  --ifm-color-primary-dark: #105b8e;
  --ifm-color-primary-darker: #0e517e;
  --ifm-color-primary-darkest: #0c476e;
  --ifm-color-primary-light: #2975a7;
  --ifm-color-primary-lighter: #4184b1;
  --ifm-color-primary-lightest: #5993bb;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #319fc8;
  --ifm-color-primary-dark: #2c8fb4;
  --ifm-color-primary-darker: #277fa0;
  --ifm-color-primary-darkest: #226f8c;
  --ifm-color-primary-light: #45a8cd;
  --ifm-color-primary-lighter: #5ab2d3;
  --ifm-color-primary-lightest: #6ebbd8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
