name: Code Check

on:
  push:
    paths-ignore:
      - '**/*.md'

jobs:
  code-check:
    name: Code Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.14.1'
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 8.6.5
          run_install: |
            - recursive: true

      - name: eslint
        run: pnpm run lint

      - name: prettier
        run: pnpm run format

      - name: typecheck
        run: pnpm run typecheck
